flask
numpy
pandas
scikit-learn == 1.0.1
matplotlib
flask_sqlalchemy
pytz 
zipp
tzdata
typing-extensions
threadpoolctl
six
pyparsing
pillow
packaging
MarkupSafe
kiwisolver
joblib
itsdangerous
greenlet
fonttools
cycler
click
Werkzeug
SQLAlchemy
scipy
python-dateutil
Jinja2 
importlib-resources
importlib-metadata
contourpy
flask_login
Flask-JSON
reportlab