.bg-image {
    background-image: url('https://assets.newatlas.com/dims4/default/829f59f/2147483647/strip/true/crop/7360x4907+0+3/resize/1200x800!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2F10%2F7f%2F5e48f79245c0b831a58d7cf8fb1d%2Fdepositphotos-228244172-xl.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #e90808;
    background-color: red;
}

.navbar-nav .nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #0e0d0d;
}

/* Remove the underline on hover */
.navbar-nav .nav-link:hover::after {
    content: none;
}

.navbar-nav {
    float: right;
    margin-left: 50%;
    color: #534d4d;
}

.navbar-nav li {
    margin-left: 100px;
}

.container-fluid.collapse navbar-collapse a {
    margin-right: 20px;
    display: inline;
    overflow: hidden;
    padding: 5px;
    color: rgb(16, 10, 10);
    text-align: center;
}

.topnavright a:hover {
    background-color: #dd0808;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* ##############################################Dashboard############################# */
.container2 {
    background-color: #c7b8b8;
    margin-top: 5%;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
}

.dashboard label {
    display: block;
}

.dashboard input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.result {
    background-color: #0e0d0d;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    color: rgb(244, 244, 247);
    margin-left: 35%;
    margin-top: 20px;
}

/* #########################################about################################### */
.container1 {
    background-color: rgb(144, 144, 227);
    border: 1px solid #0e0d0d;
}


/* #######################################home######################## */

.home {
    margin-top: 200px;
    margin-left: 200px;
}
.home h1{
    margin-bottom: 5%;
}

.button_go {
    margin-top: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #df6437;
    color: #1f1b1b;
    border-radius: 40px;
    margin-left: 30%;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}
.report{
    margin-left: 50%;
    
}
.report a{
    background-color: #dd0808;
}