{% extends 'base.html' %} {% block content %}
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container1">
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title mb-4">
          <h2 align="center" class="display-6 mb-0">
            <b>About Diabetes Detection System</b>
          </h2>
        </div>
        <h4 class="text-body fst-italic mb-4"></h4>
        <p class="mb-4">
          Our system is easy to use and can be accessed from the comfort of your
          own home. Simply enter your health information into our online
          platform, and our system will analyze the data to determine your risk
          of developing diabetes. We provide clear, easy-to-understand results
          and recommendations, so you can take control of your health with
          confidence.
        </p>
        <div class="row g-3">
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-3"></i>Mission
            </h5>
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-7"></i><p>The mission of
              our diabetes detection system is to improve the health and
              well-being of individuals by providing an accurate, reliable, and
              easy-to-use tool for early detection of diabetes.</p>
              Our goal is to
              help individuals take control of their health by identifying their
              risk of developing diabetes and providing personalized
              recommendations for prevention and management. We believe that
              early detection and proactive health management are essential for
              preventing the serious complications associated with diabetes and
              improving overall quality of life. We're committed to using the
              latest technology and medical expertise to make diabetes detection
              and prevention accessible and convenient for everyone.
            </h5>
          </div>
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-3"></i>What causes
              diabetes?
            </h5>
            <h5 class="mb-3">
              <i class="fa fa-check-circle text-primary me-3"></i>
              <p>
                Diabetes is a serious health condition that affects millions of
                people worldwide. It occurs when the body is unable to properly
                regulate blood sugar levels, leading to high levels of glucose
                in the blood. If left untreated, diabetes can cause a range of
                health problems, including nerve damage, heart disease, kidney
                damage, and blindness.
              </p>

              <p>
                Our detection system uses advanced technology to analyze key
                health indicators and identify individuals who may be at risk of
                developing diabetes. By monitoring factors such as blood sugar
                levels, body mass index (BMI), and family history of diabetes,
                we can provide personalized recommendations for lifestyle
                changes and medical treatment.
              </p>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="https://img.freepik.com/free-vector/diabetes-infographic-template-with-flat-design_23-2147886717.jpg?w=2000"
            style="object-fit: cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
