{% extends "base.html" %}

{% block content %}
    <p>Welcome, {{ user.username }}!</p>
    <div class=" center" align="center">
        <div class="container2">
            <form action="{{ url_for('dashboard') }}" method="POST">
                <h1 align="center">Diabetes Detection System</h1>
                <div class="dashboard">
                    <label for="text1">Pregnancies:</label>
                    <input type="text" name="1" id="text1" required>

                    <label for="text2">Glucose level in sugar:</label>
                    <input type="text" name="2" id="text2" required>

                    <label for="text3">BloodPressure:</label>
                    <input type="text" name="3" id="text3" required>

                    <label for="text4">SkinThickness:</label>
                    <input type="text" name="4" id="text4" required>

                    <label for="text5">Insulin:</label>
                    <input type="text" name="5" id="text5" required>

                    <label for="text6">Body Mass Index:</label>
                    <input type="text" name="6" id="text6" required>

                    <label for="text7">DiabetesPedigreeFunction:</label>
                    <input type="text" name="7" id="text7" required>

                    <label for="text8">Age:</label>
                    <input type="text" name="8" id="text8" required>
                </div>
                <input type="submit" value="Detect">
            </form>
        </div>
    </div>
    <div class="result">
        {% if prediction %}
            <p>Results: {{ prediction }}</p>
        {% endif %}
    </div>
    <div class="report">
        <a href="{{ url_for('generate_report') }}" class="btn btn-primary">Generate Report</a>
    </div>
{% endblock %}
